name: "LBM: CI Hooks"
on:
  workflow_run:
    workflows: {{ required_checks }}
    types: [completed]
  deployment_status:
permissions:
  contents: read
  issues: write
  pull-requests: write
  actions: read
jobs:
  hooks:
    uses: {{ lbm_repo }}/.github/workflows/_ci-hooks.yml@{{ lbm_ref }}
    secrets: inherit
    with:
      config-path: lbm.toml
